<%- include('../includes/head.ejs') %>
<div class="product_adding mtt">
  <form
    class="row g-3 fs-4"
    action="<% if (editing) { %>/user/edit-flat<% } else { %>/adding-flat<% } %>"
    method="POST"
    enctype="multipart/form-data"
  >
    <h3 class="text-center d-lg-none">Fotosuratni qo'shing</h3>
    <div class="d-flex mb-5">
      <div class="d-lg-flex align-items-center d-none d-lg-block me-3"><h3>Fotosuratni qo'shing</h3></div>
      <div class="form-element me-3">
        <input type="file" id="file-1" accept="image/*" class="d-none" name="image1" />
        <label for="file-1" id="file-1-preview">
          <img src="https://bit.ly/3ubuq5o" alt="" />
        </label>
      </div>
      <div class="form-element me-3">
        <input type="file" id="file-2" accept="image/*" class="d-none" name="image2" />
        <label for="file-2" id="file-2-preview">
          <img src="https://bit.ly/3ubuq5o" alt="" />
        </label>
      </div>
      <div class="form-element">
        <input type="file" id="file-3" accept="image/*" class="d-none" name="image3" />
        <label for="file-3" id="file-3-preview">
          <img src="https://bit.ly/3ubuq5o" alt="" />
        </label>
      </div>
    </div>
    <div class="my-3 text-center text-danger <%= (product.imageError) ? '' : 'd-none'%>">
      <p>Fotosurat qo'shilmadi</p>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="rentOrSell" id="rentOrSell1" value="Ijara" <%= (product.rentOrSell === 'Ijara') ? 'checked' : '' %> />
      <label class="form-check-label" for="rentOrSell1"> Ijaraga </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="rentOrSell" id="rentOrSell2" value="Sotiladi" <%= (product.rentOrSell === 'Sotiladi') ? 'checked' : '' %>/>
      <label class="form-check-label" for="rentOrSell2"> Sotiladi </label>
    </div>
    <div class="col-md-6">
      <label for="shortInfo" class="form-label">Qisqa ta'rif</label>
      <input
        type="text"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'shortInfo') ? 'invalidInput' : '' %>"
        name="shortInfo"
        maxlength="30"
        placeholder="Kvartira sotiladi"
        value="<% if (editing || hasError) { %><%= product.shortInfo %><% } %>"
      />
    </div>
    <div class="col-md-6">
      <label for="rooms" class="form-label">Xonalar soni</label>
      <input
        type="number"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'rooms') ? 'invalidInput' : '' %>"
        name="rooms"
        value="<% if (editing || hasError) { %><%= product.rooms %><% } %>"
      />
    </div>
    <div class="col-md-6">
      <label for="floors" class="form-label">Uy nechchi qavatlik</label>
      <input
        type="number"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'floors') ? 'invalidInput' : '' %>"
        name="floors"
        value="<% if (editing || hasError) { %><%= product.floors %><% } %>"
      />
    </div>
    <div class="col-md-6">
      <label for="floor" class="form-label">Nechanchi qavat</label>
      <input
        type="number"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'floor') ? 'invalidInput' : '' %>"
        name="floor"
        value="<% if (editing || hasError) { %><%= product.floor %><% } %>"
      />
    </div>
    <div class="col-md-6">
      <label for="area" class="form-label">Kvartira umumiy maydoni(m2)</label>
      <input
        type="number"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'area') ? 'invalidInput' : '' %>"
        id="square"
        step="0.01"
        name="area"
        value="<% if (editing || hasError) { %><%= product.area %><% } %>"
      />
    </div>
    <div class="col-md-6">
      <label for="flatCondition" class="form-label">Kvartira holati</label>
      <select
        class="form-select form-select-lg mb-3 fs-4 <%= validationErrors.find(e => e.param === 'flatCondition') ? 'invalidInput' : '' %>"
        aria-label=".form-select-lg example"
        name="flatCondition"
      >
        <option <%= (editing || hasError) ? '' : 'selected' %> disabled>Holati</option>
        <option value="Yangi" <% (product.flatCondition === 'Yangi') ? 'selected' : '' %>>Yangi</option>
        <option value="O'rtacha" <% (product.flatCondition === "O'rtacha") ? 'selected' : '' %>>O'rtacha</option>
        <option value="Remont talab" <% (product.flatCondition === 'Remont talab') ? 'selected' : '' %>>Remont talab</option>
      </select>
    </div>
    <div>
      <h4 class="mt-3">Kvartirada mavjud</h4>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="airConditioning" value="Konditsioner" id="air-conditioning" <%= (airConditioning) ? 'checked' : '' %>/>
      <label class="form-check-label" for="air-conditioning"> Konditsioner </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="freeze" value="Muzlatgich" id="freeze" <%= (freeze) ? 'checked' : '' %>/>
      <label class="form-check-label" for="freeze"> Muzlatgich </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="furniture" value="Mebel" id="furniture" <%= (furniture) ? 'checked' : '' %>/>
      <label class="form-check-label" for="furniture"> Mebel </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="washing" value="Kir mashinasi" id="washing" <%= (washing) ? 'checked' : '' %>/>
      <label class="form-check-label" for="washing"> Kir yuvish mashinasi </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="tv" value="Televizor" id="tv" <%= (tv) ? 'checked' : '' %>/>
      <label class="form-check-label" for="tv"> Televizor </label>
    </div>
    <div class="col-md-6">
      <label for="color" class="form-label">Manzilni tanlang</label>
      <select
        class="form-select form-select-lg mb-3 fs-4 <%= validationErrors.find(e => e.param === 'address') ? 'invalidInput' : '' %>"
        aria-label=".form-select-lg example"
        name="address"
      >
      <option <%= (editing || hasError) ? '' : 'selected' %> disabled>Manzil</option>
      <option value="Vodil" <% (product.address == 'Vodil') ? 'selected' : '' %>>Vodil</option>
      <option value="Yoshlarobod" <% (product.address == 'Yoshlarobod') ? 'selected' : '' %>>Yoshlarobod</option>
      <option value="Novkent'k" <% (product.address == 'Novkent') ? 'selected' : '' %>>Novkent</option>
      <option value="Yangiobod" <% (product.address == 'Yangiobod') ? 'selected' : '' %>>Yangiobod</option>
      <option value="Mindonobod" <% (product.address == 'Mindonobod') ? 'selected' : '' %>>Mindonobod</option>
      <option value="Avval" <% (product.address == 'Avval') ? 'selected' : '' %>>Avval</option>
      <option value="Kaptarxona" <% (product.address == 'Kaptarxona') ? 'selected' : '' %>>Kaptarxona</option>
      <option value="Log'on" <% (product.address == "Log'on") ? 'selected' : '' %>>Log'on</option>
      <option value="Mindon" <% (product.address == 'Mindon') ? 'selected' : '' %>>Mindon</option>
      <option value="Chimyon" <% (product.address == 'Chimyon') ? 'selected' : '' %>>Chimyon</option>
      <option value="Xonqiz" <% (product.address == 'Xonqiz') ? 'selected' : '' %>>Xonqiz</option>
      <option value="Oqtom" <% (product.address == 'Oqtom') ? 'selected' : '' %>>Oqtom</option>
      <option value="Satkak" <% (product.address == 'Satkak') ? 'selected' : '' %>>Satkak</option>
      <option value="Damko'l" <% (product.address == "Damko'l") ? 'selected' : '' %>>Damko'l</option>
      <option value="Shoximardon" <% (product.address == 'Shoximardon') ? 'selected' : '' %>>Shoximardon</option>
      </select>
    </div>
    <div class="form-floating fs-4 mb-5">
      <textarea
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'extraInfo') ? 'invalidInput' : '' %>"
        name="extraInfo"
        style="height: 70px"
      >
<% if (editing || hasError) { %><%= product.extraInfo %><% } %></textarea
      >
      <label for="address">Qo'shimcha ma'lumot</label>
    </div>
    <div class="col-md-6">
      <label for="flatPrice" class="form-label">Narxi($):</label>
      <input
        type="number"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'price') ? 'invalidInput' : '' %>"
        name="price"
        value="<% if (editing || hasError) { %><%= product.price %><% } %>"
      />
    </div>
    <div class="col-md-6">
      <label for="phoneNumber" class="form-label">Telefon raqamingizni kiriting</label>
      <input
        type="number"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'phoneNumber') ? 'invalidInput' : '' %>"
        name="phoneNumber"
        placeholder="998901234567"
        value="<% if (editing || hasError) { %><%= product.phoneNumber %><% } %>"
      />
      <p class="text-danger fs-6"><%= validationErrors.find(e => e.param === 'phoneNumber') ? ` Telefon raqamni to'liq kiriting` : '' %></p>
    </div>
    <div>
      <% if (editing) { %>
      <input type="hidden" value="<%= product._id %>" name="productId" />
      <% } %>
      <button type="submit" class="btn btn-primary fs-4">Qo'shish</button>
    </div>
  </form>
</div>
<%- include('../includes/end.ejs') %>
