<%- include('../includes/head.ejs') %>
<div class="product_adding mtt">
  <form class="row g-3 fs-4" action="<% if (editing) { %>/user/edit-nonResidential<% } else { %>/adding-nonResidential<% } %>" method="POST">
    <h3 class="text-center d-lg-none">Fotosuratni qo'shing</h3>
    <div class="d-flex mb-5">
      <div class="d-lg-flex align-items-center d-none d-lg-block me-3"><h3>Fotosuratni qo'shing</h3></div>
      <div class="form-element me-3">
        <input type="file" id="file-1" accept="image/*" class="d-none" name="image1" />
        <label for="file-1" id="file-1-preview">
          <img src="https://bit.ly/3ubuq5o" alt="" />
        </label>
      </div>
      <div class="form-element me-3">
        <input type="file" id="file-2" accept="image/*" class="d-none" name="image2" />
        <label for="file-2" id="file-2-preview">
          <img src="https://bit.ly/3ubuq5o" alt="" />
        </label>
      </div>
      <div class="form-element">
        <input type="file" id="file-3" accept="image/*" class="d-none" name="image3" />
        <label for="file-3" id="file-3-preview">
          <img src="https://bit.ly/3ubuq5o" alt="" />
        </label>
      </div>
    </div>
    <div class="my-3 text-center text-danger <%= (product.imageError) ? '' : 'd-none'%>">
      <p>Fotosurat qo'shilmadi</p>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="rentOrSell" id="rentOrSell1" value="Ijaraga" />
      <label class="form-check-label" for="rentOrSell1"> Ijaraga </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="rentOrSell" id="rentOrSell2" value="Sotiladi" />
      <label class="form-check-label" for="rentOrSell2"> Sotiladi </label>
    </div>
    <div class="col-md-6">
      <label for="shortInfo" class="form-label">Qisqa ta'rif</label>
      <input
        type="text"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'shortInfo') ? 'invalidInput' : '' %>"
        name="shortInfo"
        maxlength="30"
        placeholder="Magazin sotiladi"
        value="<% if (editing || hasError) { %><%= product.shortInfo %><% } %>"
      />
    </div>
    <div class="col-md-6">
      <label for="rooms" class="form-label">Xonalar soni</label>
      <input
        type="number"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'rooms') ? 'invalidInput' : '' %>"
        name="rooms"
        value="<% if (editing || hasError) { %><%= product.rooms %><% } %>"
      />
    </div>
    <div class="col-md-6">
      <label for="area" class="form-label">Bino maydoni(kv m.)</label>
      <input
        type="number"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'area') ? 'invalidInput' : '' %>"
        name="area"
        value="<% if (editing || hasError) { %><%= product.area %><% } %>"
      />
    </div>
    <div>
      <h4 class="mt-3">Binoda mavjud</h4>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="gas" type="checkbox" value="Gaz" id="gas" />
      <label class="form-check-label" for="gas"> Gaz </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="electricity" type="checkbox" value="EelectricityheckChecked" />
      <label class="form-check-label" for="electricity"> Elektr </label>
    </div>
    <div class="col-md-6">
      <label for="color" class="form-label">Manzilni tanlang</label>
      <select
        class="form-select form-select-lg mb-3 fs-4 <%= validationErrors.find(e => e.param === 'address') ? 'invalidInput' : '' %>"
        aria-label=".form-select-lg example"
        name="address"
      >
        <option selected disabled>Manzil</option>
        <option value="Vodil">Vodil</option>
        <option value="Yoshlarobod">Yoshlarobod</option>
        <option value="Novkent'k">Novkent</option>
        <option value="Yangiobod">Yangiobod</option>
        <option value="Mindonobod">Mindonobod</option>
        <option value="Avval">Avval</option>
        <option value="Kaptarxona">Kaptarxona</option>
        <option value="Log'on">Log'on</option>
        <option value="Mindon">Mindon</option>
        <option value="Chimyon">Chimyon</option>
        <option value="Xonqiz">Xonqiz</option>
        <option value="Oqtom">Oqtom</option>
        <option value="Satkak">Satkak</option>
        <option value="Damko'l">Damko'l</option>
        <option value="Shoximardon">Shoximardon</option>
      </select>
    </div>
    <div class="form-floating fs-4 mb-5">
      <textarea
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'extraInfo') ? 'invalidInput' : '' %>"
        name="extraInfo"
        style="height: 70px"
      >
<% if (editing || hasError) { %><%= product.extraInfo %><% } %></textarea
      >
      <label for="address">Qo'shimcha ma'lumot</label>
    </div>
    <div class="col-md-6">
      <label for="price" class="form-label">Narxi($):</label>
      <input
        type="number"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'price') ? 'invalidInput' : '' %>"
        name="price"
        value="<% if (editing || hasError) { %><%= product.price %><% } %>"
      />
    </div>
    <div class="col-md-6">
      <label for="phoneNumber" class="form-label">Telefon raqamingizni kiriting</label>
      <input
        type="number"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'phoneNumber') ? 'invalidInput' : '' %>"
        name="phoneNumber"
        value="<% if (editing || hasError) { %><%= product.phoneNumber %><% } %>"
      />
      <p class="text-danger fs-6"><%= validationErrors.find(e => e.param === 'phoneNumber') ? ` Telefon raqamni to'liq kiriting` : '' %></p>
    </div>
    <div>
      <% if (editing) { %>
      <input type="hidden" value="<%= product._id %>" name="productId" />
      <% } %>
      <button type="submit" class="btn btn-primary fs-4">Qo'shish</button>
    </div>
  </form>
</div>
<%- include('../includes/end.ejs') %>
