<%- include('../../includes/head.ejs') %>
<section class="mts">
  <div class="container pb-5">
    <div class="row">
      <div class="col-lg-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <% if(service.imageUrl.length > 1) { %>
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <% } %>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/<%= service.imageUrl[0] %>" class="d-block w-100" alt="..." />
            </div>
            <% if(service.imageUrl.length == 2 || service.imageUrl.length == 3) { %>
            <div class="carousel-item">
              <img src="/<%= service.imageUrl[1] %>" class="d-block w-100" alt="..." />
            </div>
            <% } %> <% if(service.imageUrl.length == 3) { %>
            <div class="carousel-item">
              <img src="/<%= service.imageUrl[2] %>" class="d-block w-100" alt="..." />
            </div>
            <% } %>
          </div>
          <% if(service.imageUrl.length > 1) { %>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <% } %>
        </div>
      </div>
      <!-- col end -->
      <div class="detail_card col-lg-7">
        <div class="card">
          <div class="card-body">
            <div class="d-md-flex justify-content-between mb-3">
              <h2 class="main_info"><%= service.shortInfo %></h2>
              <p class="fs-5">E'lon qo'shilgan sana: <%= service.createdAt %></p>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <h3 class="mb-5"><%= service.address %></h3>
              <p class="fs-5">Ko'rishlar soni: <%= service.views %></p>
            </div>
            <ul class="list-unstyled pb-3 fs-4 details">
              <li><span> Jinsi: &nbsp</span> <%= service.gender %></li>
              <li><span> Xizmat turi:</span> &nbsp <%= service.serviceType %></li>
              <li><span> Ish tajribasi:</span> &nbsp <%= service.experience %>yil</li>
              <li><span> Yoshi: &nbsp</span> <%= service.age %></li>
            </ul>
            <div class="mb-4 fs-4">
              <span class="me-3">E'lon muallifi:</span>
              <a href="/author/products/<%= service.userId._id %>"
                ><%= service.userId.username %></a
              >
            </div>
            <h3>Tavsif:</h3>
            <p class="fs-4 pb-5 ps-3 pt-2 border"><%= service.extraInfo %></p>
            <div class="pb-3 d-flex justify-content-evenly details_buttons">
              <button type="submit">+<%= service.phoneNumber %></button>
              <!-- <button type="submit">Muallifga yozish</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button fs-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Komment qoldirish
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <form id="myComment">
        <div class="accordion-body">
          <textarea
            name="commentBody"
            id="commentBody"
            rows="5"
            class="w-100 fs-3"
            maxlength="500"
          ></textarea>
        </div>
        <input type="hidden" name="productType" value="service" />
        <input type="hidden" name="productId" value="<%= service._id%>" />
        <button class="btn btn-primary m-3 fs-4 px-3">Submit</button>
      </form>
    </div>
  </div>
</section>
<% if(service.comments.length > 0) { %><% for (let com of service.comments) { %>
<section class="userComments">
  <div class="mb-4 d-flex user_comment">
    <img
      class="me-4 rounded-circle"
      src="<% if(com.userId.photo) { %>  /<%= com.userId.photo %> <% } else { %> /image/commentUser.png <% } %>"
      style="width: 40px; height: 40px"
      ;
      alt=""
    />
    <div>
      <h4 class="mt-0 text-success"><%= com.userId.username %></h4>
      <p class="fs-4"><%= com.comment %></p>
      <% if(admin || com.userId._id.toString() == user._id.toString()) { %>
      <div class="d-flex align-items-center">
        <form class="deleteComment">
          <input type="hidden" value="<%= com._id%>" />
          <input type="hidden" value="service" />
          <input type="hidden" value="<%= service._id%>" />
          <button>
            <i class="fa-solid fa-trash text-danger fs-4"></i>
          </button>
        </form>
      </div>
      <% } %>
    </div>
  </div>
</section>
<% } %> <% } %>
<section class="cards container-lg" id="cards">
  <div class="top-products d-flex justify-content-between">
    <h2>O'xshash e'lonlar</h2>
  </div>
  <% if(prods.length <= 0) { %>
  <h1 class="text-center">O'xshash e'lonlar mavjud emas</h1>
  <% } else { %> <% if(prods.length > 4) { %>
  <div class="box-container">
    <% for (let product of prods) { %>
    <div class="box">
      <a href="/products/<%= product._id %>?productType=<%= product.productType %>"
        ><img src="/<%= product.imageUrl %>" alt=""
      /></a>
      <div class="content p-3">
        <div class="info pb-1 mb-3">
          <h4 href="#"><%= product.shortInfo %></h4>
          <p class="text-muted fs-5"><%= product.createdAt %></p>
        </div>
        <% if(product.price) { %>
        <h3 class="text-center"><%= product.price %> <%= (product.dollar) ? '$' : "so'm"%></h3>
        <% } %>
      </div>
      <div class="card_footer d-flex justify-content-between px-5 py-2">
        <h5 class="me-5 text-secondary"><%= product.address %></h5>
      </div>
    </div>
    <% } %>
  </div>
  <% } else { %>
  <div class="box_container">
    <% for (let product of prods) { %>
    <div class="box mb-5">
      <a href="/products/<%= product._id %>?productType=<%= product.productType %>"
        ><img src="/<%= product.imageUrl %>" alt=""
      /></a>
      <div class="content p-3">
        <div class="info pb-1 mb-3">
          <h4 href="#"><%= product.shortInfo %></h4>
          <p class="text-muted fs-5"><%= product.createdAt %></p>
        </div>
        <% if(product.price) { %>
        <h3 class="text-center"><%= product.price %> <%= (product.dollar) ? '$' : "so'm"%></h3>
        <% } %>
      </div>
      <div class="card_footer d-flex justify-content-between px-5 py-2">
        <h5 class="me-5 text-secondary"><%= product.address %></h5>
      </div>
    </div>
    <% } %>
  </div>
  <% } %> <% } %>
</section>
<%- include('../../includes/end.ejs') %>
