<%- include('./includes/head.ejs') %>
<section class="filter fs-4 d-flex justify-content-center mx-auto">
  <form class="filter_items" action="/products" method="GET">
    <div class="filtering">
      <select name="category" id="category">
        <option selected disabled>Kategoriya</option>
        <option value="avto">Transport</option>
        <option value="electronics">Elektronika</option>
        <option value="estate">Uy-joy</option>
        <option value="jobs">Ish va xizmatlar</option>
      </select>
    </div>
    <div class="filtering">
      <input type="text" class="filtering-input" placeholder="min narx" name="from" />
    </div>
    <div class="filtering">
      <input type="text" class="filtering-input" placeholder="max narx" name="to" />
    </div>
    <div class="filtering">
      <select name="address" id="address">
        <option selected disabled>Manzil</option>
        <option value="Vodil">Vodil</option>
        <option value="Yoshlarobod">Yoshlarobod</option>
        <option value="Novkent">Novkent</option>
        <option value="Yangiobod">Yangiobod</option>
        <option value="Mindonobod">Mindonobod</option>
        <option value="Avval">Avval</option>
        <option value="Kaptarxona">Kaptarxona</option>
        <option value="Log'on">Log'on</option>
        <option value="Mindon">Mindon</option>
        <option value="Chimyon">Chimyon</option>
        <option value="Xonqiz">Xonqiz</option>
        <option value="Oqtom">Oqtom</option>
        <option value="Satkak">Satkak</option>
        <option value="Damko'l">Damko'l</option>
        <option value="Shoximardon">Shoximardon</option>
      </select>
    </div>
    <div class="filtering">
      <button type="submit">Qidirish</button>
    </div>
    <div class="filtering d-flex align-items-center">
      <a href="/products" class="text-center"><i class="fa-solid fa-arrows-rotate"></i></a>
    </div>
  </form>
</section>

<!-- All products -->

<section class="cards container-lg" id="cards">
  <% if(prods.length <= 0) { %>
  <h1 class="text-center">E'lon topilmadi</h1>
  <% } else { %> <% if(prods.length > 4) { %>
  <div class="box-container">
    <% for (let product of prods) { %>
    <div class="box">
      <a href="/products/<%= product._id %>?productType=<%= product.productType %>"
        ><img src="/<%= product.imageUrl %>" alt=""
      /></a>
      <div class="content p-3">
        <div class="info pb-1 mb-3">
          <h4 href="#"><%= product.shortInfo %></h4>
          <p class="text-muted fs-5"><%= product.createdAt %></p>
        </div>
        <% if(product.price) { %>
        <h3 class="text-center"><%= product.price %> <%= (product.dollar) ? '$' : "so'm"%></h3>
        <% } else { %>
        <h3 class="text-center"><%= product.address %></h3>
        <% } %>
      </div>
      <% if(product.price) { %>
      <div class="card_footer d-flex justify-content-between px-5 pt-2 align-items-center">
        <p class="me-5 text-secondary fs-5"><%= product.address %></p>
        <form id="myFav">
          <input type="hidden" value="<%= product._id%>" id="prodId" />
          <button class="bg-white"><i class="fa-regular fa-heart fs-4" id="my_fav"></i></button>
        </form>
      </div>
      <% } else {%>
      <div class="d-flex justify-content-between px-5 pt-2 align-items-center">
        <p class="fs-5 text-white">.</p>
        <form id="myFav">
          <input type="hidden" value="<%= product._id%>" id="prodId" />
          <button class="bg-white"><i class="fa-regular fa-heart fs-4" id="my_fav"></i></button>
        </form>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <% } else { %>
  <div class="box_container">
    <% for (let product of prods) { %>
    <div class="box mb-5">
      <a href="/products/<%= product._id %>?productType=<%= product.productType %>"
        ><img src="/<%= product.imageUrl %>" alt=""
      /></a>
      <div class="content p-3">
        <div class="info pb-1 mb-3">
          <h4 href="#"><%= product.shortInfo %></h4>
          <p class="text-muted fs-5"><%= product.createdAt %></p>
        </div>
        <% if(product.price) { %>
        <h3 class="text-center"><%= product.price %> <%= (product.dollar) ? '$' : "so'm"%></h3>
        <% } else { %>
        <h3 class="text-center"><%= product.address %></h3>
        <% } %>
      </div>
      <% if(product.price) { %>
      <div class="card_footer d-flex justify-content-between px-5 pt-2 align-items-center">
        <p class="me-5 text-secondary fs-5"><%= product.address %></p>
        <form id="myFav">
          <input type="hidden" value="<%= product._id%>" id="prodId" />
          <button class="bg-white"><i class="fa-regular fa-heart fs-4" id="my_fav"></i></button>
        </form>
      </div>
      <% } else {%>
      <div class="d-flex justify-content-between px-5 pt-2 align-items-center">
        <p class="fs-5 text-white">.</p>
        <form id="myFav">
          <input type="hidden" value="<%= product._id%>" id="prodId" />
          <button class="bg-white"><i class="fa-regular fa-heart fs-4" id="my_fav"></i></button>
        </form>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <% } %> <% } %>
</section>
<% if(isOverLimit) { %>
<div class="pagination d-flex justify-content-center fs-4 mt-5">
  <a href="?page=<%=previousPage %>" class="blocks <%= (currentPage == 1) ? 'disabled' : '' %>"
    >&laquo;</a
  >
  <% if (currentPage !== 1 && previousPage !== 1) { %>
  <a href="?page=1" class="blocks">1</a>
  <% } %> <% if (hasPreviousPage) { %>
  <a href="?page=<%= previousPage %>" class="blocks"><%= previousPage %></a>
  <% } %>
  <a href="?page=<%= currentPage %>" class="active blocks"><%= currentPage %></a>
  <% if (hasNextPage) { %>
  <a href="?page=<%= nextPage %>" class="blocks"><%= nextPage %></a>
  <% } %> <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
  <a href="?page=<%= lastPage %>" class="blocks"><%= lastPage %></a>
  <% } %>
  <a href="?page=<%=nextPage %>" class="blocks <%= (currentPage == lastPage) ? 'disabled' : '' %>"
    >&raquo;</a
  >
</div>
<% } %>
<section class="mbs"></section>
<%- include('./includes/end.ejs') %>
