<%- include('../includes/head.ejs') %>
<section class="cards container mts" id="cards">
  <% if(prods.length <= 0) { %>
  <h1 class="text-center">Sizda e'lonlar mavjud emas</h1>
  <% } else { %>
  <h1 class="text-center mb-5 <%= (isMe) ? '' : 'd-none' %>">Mening barcha e'lonlarim</h1>
  <h1 class="text-center mb-5 <%= (isMe) ? 'd-none' : '' %>">Muallifning barcha e'lonlari</h1>
  <div class="box_container">
    <% for (let product of prods) { %>
    <div class="box mb-5">
      <a href="/products/<%= product._id %>?productType=<%= product.productType %>"
        ><img src="/<%= product.imageUrl%>" alt=""
      /></a>
      <div class="content p-2">
        <div class="info pb-1 mb-4">
          <h4 href="#"><%= product.shortInfo %></h4>
          <p class="text-muted fs-5"><%= product.createdAt %></p>
        </div>
        <% if(product.price) { %>
        <h3 class="text-center"><%= product.price %> <%= (product.dollar) ? '$' : "so'm"%></h3>
        <% } %>
      </div>
      <% if(isMe) { %>
      <div class="card_footer d-flex justify-content-between px-5 py-3">
        <a href="/user/edit-product/<%= product._id %>?edit=true&&productType=<%= product.productType %>"
          ><i class="fa-solid fa-pen-to-square fs-4 text-info"></i
        ></a>
        <form method="POST" action="/user/delete/product">
          <input type="hidden" name="productId" value="<%= product._id %>" />
          <button type="submit" class="bg-white"><i class="fa-solid fa-trash text-danger fs-4"></i></button>
        </form>
      </div>
      <% } else { %>
      <div class="card_footer d-flex justify-content-between px-5 p-2">
        <p class="me-5 text-secondary fs-5"><%= product.address %></p>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <% } %>
</section>
<%- include('../includes/end.ejs') %>
