<%- include('../includes/head.ejs') %>
<section class="cards container-lg mts" id="cards">
  <% if(prods.length <= 0) { %>
  <h1 class="text-center">Sizda e'lonlar mavjud emas</h1>
  <% } else { %>
  <div class="box-container">
    <% for (let product of prods) { %> <% for (let p of price) { %>
    <div class="box">
      <a href="/products/<%= product._id %>"><img src="/image/blog-1.jpg" alt="" /></a>
      <div class="content p-3">
        <div class="icons pb-4 mb-3">
          <h4 href="#"><%= product.shortInfo %></h4>
          <a href=""> 1st may, 2021 </a>
        </div>
        <h3 class="text-center"><%= p%> <%= (product.dollar) ? '$' : "so'm"%></h3>
      </div>
      <div class="card_footer d-flex justify-content-between px-5 py-2">
        <a href="/edit/<%= product._id %>">O'zartirish</a>
        <form action="/delete/<%= product._id %>" method="POST">
          <button type="submit" class="btn btn-danger">O'chirish</button>
        </form>
      </div>
    </div>
    <% } %> <% } %>
  </div>
  <% } %>
</section>
<%- include('../includes/end.ejs') %>
