<%- include('../../includes/head.ejs') %>
<section class="mts">
  <div class="container pb-5">
    <div class="row">
      <div class="col-lg-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/<%= flat.imageUrl[0] %>" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="/<%= flat.imageUrl[1] %>" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="/<%= flat.imageUrl[2] %>" class="d-block w-100" alt="..." />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <!-- col end -->
      <div class="detail_card col-lg-7">
        <div class="card">
          <div class="card-body">
            <div class="d-md-flex justify-content-between mb-3">
              <h2 class="main_info">
                Kvartira <%= flat.rentOrSell %>, <%= flat.rooms %> xonali, <%=flat.area %> kv m.
              </h2>
              <p class="fs-5">E'lon qo'shilgan sana: <%= flat.createdAt %></p>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <p class="h1"><%= flat.price %> $</p>
              <p class="fs-5">Ko'rishlar soni: <%= flat.views %></p>
            </div>
            <h3 class="mb-5 main_info"><%= flat.address %></h3>
            <ul class="list-unstyled pb-3 fs-4 details">
              <li><span> Xonalar soni:</span> &nbsp <%= flat.rooms %></li>
              <li><span> Kvartira maydoni:</span> &nbsp <%= flat.area %> kv m.</li>
              <li><span> Qavatlik:</span> &nbsp <%= flat.floors %></li>
              <li><span> Qavati: </span> &nbsp <%= flat.floor %></li>
              <li><span> Kvartira holati: &nbsp</span> <%= flat.flatCondition %></li>
              <li>
                <span> Kvartirada mavjud: &nbsp </span><% for (let flatH of flat.flatHas) { %> <%= flatH, %> <% } %>
              </li>
            </ul>
            <div class="mb-4 fs-4">
              <span class="me-3">E'lon muallifi:</span>
              <a href="/author/products/<%= flat.userId._id %>"><%= flat.userId.username %></a>
            </div>
            <h3>Tavsif:</h3>
            <p class="fs-4 pb-5 ps-3 pt-2 border"><%= flat.extraInfo %></p>
            <div class="pb-3 d-flex justify-content-evenly details_buttons">
              <button type="submit">+<%= flat.phoneNumber %></button>
              <button type="submit">Muallifga yozish</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cards container-lg" id="cards">
  <div class="top-products d-flex justify-content-between">
    <h2>O'xshash e'lonlar</h2>
  </div>
  <% if(prods.length <= 0) { %>
  <h1 class="text-center">O'xshash e'lonlar mavjud emas</h1>
  <% } else { %>
  <div class="user_products">
    <% for (let product of prods) { %>
    <div class="box">
      <a href="/products/<%= product._id %>?productType=<%= product.productType %>"
        ><img src="/<%= product.imageUrl %>" alt=""
      /></a>
      <div class="content p-3">
        <div class="info pb-1 mb-3">
          <h4 href="#"><%= product.shortInfo %></h4>
          <p class="text-muted fs-5"><%= product.createdAt %></p>
        </div>
        <h3 class="text-center"><%= product.price %> <%= (product.dollar) ? '$' : "so'm"%></h3>
      </div>
      <div class="card_footer d-flex justify-content-between px-5 py-2">
        <h5 class="me-5 text-secondary"><%= product.address %></h5>
        <i class="fa-regular fa-heart fs-4"></i>
      </div>
    </div>
    <% } %>
  </div>
  <% } %>
</section>
<%- include('../../includes/end.ejs') %>
