<%- include('../includes/head.ejs') %>
<div class="product_adding mtt">
  <form class="row g-3 fs-4" action="<% if (editing) { %>/user/edit-service<% } else { %>/adding-service<% } %>" method="POST">
    <div class="my-5 adding_file">
      <h3 class="mb-4">Rasm qo'shish (maksimal 3ta)</h3>
      <label for="img" class="btn btn-primary p-3">+ Rasm qo'shish</label>
      <input type="file" id="img" class="d-none" multiple />
    </div>
    <div class="col-md-6">
      <label for="shortInfo" class="form-label">Qisqa ta'rif</label>
      <input
        type="text"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'shortInfo') ? 'invalidInput' : '' %>"
        name="shortInfo"
        maxlength="30"
        placeholder="Akfa yasaymiz"
        value="<% if (editing || hasError) { %><%= product.shortInfo %><% } %>"
      />
    </div>
    <div class="col-md-6">
      <label for="gender" class="form-label">Jinsi</label>
      <select
        class="form-select form-select-lg mb-3 fs-4 <%= validationErrors.find(e => e.param === 'gender') ? 'invalidInput' : '' %>"
        aria-label=".form-select-lg example"
        name="gender"
      >
        <option selected disabled>Jinsi</option>
        <option value="Erkak">Erkak</option>
        <option value="Ayol">Ayol</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="serviceType" class="form-label">Xizmat ko'rsatish turi</label>
      <select
        class="form-select form-select-lg mb-3 fs-4 <%= validationErrors.find(e => e.param === 'serviceType') ? 'invalidInput' : '' %>"
        aria-label=".form-select-lg example"
        name="serviceType"
      >
        <option selected disabled>Xizmat ko'rsatish turi</option>
        <option value="Eshik-rom yasash">Eshik-rom yasash</option>
        <option value="Elektrik">Elektrik</option>
        <option value="Sartaroshlik">Sartaroshlik</option>
        <option value="Svarshiklik">Svarshiklik</option>
        <option value="Vet doktor">Vet doktor</option>
        <option value="Buxgalterlik">Buxgalterlik</option>
        <option value="Oshxona mebel yashash">Oshxona mebel yashash</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="experience" class="form-label">Ish tajribangiz(yil)</label>
      <input
        type="number"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'experience') ? 'invalidInput' : '' %>"
        name="experience"
        value="<% if (editing || hasError) { %><%= product.experience %><% } %>"
      />
    </div>
    <div class="col-md-6">
      <label for="birthday" class="form-label">Yoshingiz</label>
      <input
        type="number"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'age') ? 'invalidInput' : '' %>"
        name="age"
        value="<% if (editing || hasError) { %><%= product.age %><% } %>"
      />
    </div>
    <div class="col-md-6">
      <label for="color" class="form-label">Manzilni tanlang</label>
      <select
        class="form-select form-select-lg mb-3 fs-4 <%= validationErrors.find(e => e.param === 'address') ? 'invalidInput' : '' %>"
        aria-label=".form-select-lg example"
        name="address"
      >
        <option selected disabled>Manzil</option>
        <option value="Vodil">Vodil</option>
        <option value="Yoshlarobod">Yoshlarobod</option>
        <option value="Novkent'k">Novkent</option>
        <option value="Yangiobod">Yangiobod</option>
        <option value="Mindonobod">Mindonobod</option>
        <option value="Avval">Avval</option>
        <option value="Kaptarxona">Kaptarxona</option>
        <option value="Log'on">Log'on</option>
        <option value="Mindon">Mindon</option>
        <option value="Chimyon">Chimyon</option>
        <option value="Xonqiz">Xonqiz</option>
        <option value="Oqtom">Oqtom</option>
        <option value="Satkak">Satkak</option>
        <option value="Damko'l">Damko'l</option>
        <option value="Shoximardon">Shoximardon</option>
      </select>
    </div>
    <div class="form-floating fs-4 mb-5">
      <textarea
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'extraInfo') ? 'invalidInput' : '' %>"
        name="extraInfo"
        style="height: 70px"
      >
      <% if (editing || hasError) { %><%= product.extraInfo %><% } %></textarea
      >
      <label for="address">Qo'shimcha ma'lumot</label>
    </div>
    <div class="col-md-6">
      <label for="phoneNumber" class="form-label">Telefon raqamingizni kiriting</label>
      <input
        type="number"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'phoneNumber') ? 'invalidInput' : '' %>"
        name="phoneNumber"
        value="<% if (editing || hasError) { %><%= product.phoneNumber %><% } %>"
      />
      <p class="text-danger fs-6"><%= validationErrors.find(e => e.param === 'phoneNumber') ? ` Telefon raqamni to'liq kiriting` : '' %></p>
    </div>
    <div>
      <% if (editing) { %>
      <input type="hidden" value="<%= product._id %>" name="productId" />
      <% } %>
      <button type="submit" class="btn btn-primary fs-4">Qo'shish</button>
    </div>
  </form>
</div>
<%- include('../includes/end.ejs') %>
