<%- include('../includes/head.ejs') %>
<div class="product_adding mtt">
  <form
    class="row g-3 fs-4"
    action="<% if (editing) { %>/user/edit-houseApp<% } else { %>/adding-houseApp<% } %>"
    method="POST"
    enctype="multipart/form-data"
  >
    <h3 class="text-center d-lg-none">Fotosuratni qo'shing</h3>
    <div class="d-flex mb-5">
      <div class="d-lg-flex align-items-center d-none d-lg-block me-3"><h3>Fotosuratni qo'shing</h3></div>
      <div class="form-element me-3">
        <input type="file" id="file-1" accept="image/*" class="d-none" name="image1" />
        <label for="file-1" id="file-1-preview">
          <img src="https://bit.ly/3ubuq5o" alt="" />
        </label>
      </div>
      <div class="form-element me-3">
        <input type="file" id="file-2" accept="image/*" class="d-none" name="image2" />
        <label for="file-2" id="file-2-preview">
          <img src="https://bit.ly/3ubuq5o" alt="" />
        </label>
      </div>
      <div class="form-element">
        <input type="file" id="file-3" accept="image/*" class="d-none" name="image3" />
        <label for="file-3" id="file-3-preview">
          <img src="https://bit.ly/3ubuq5o" alt="" />
        </label>
      </div>
    </div>
    <div class="my-3 text-center text-danger <%= (product.imageError) ? '' : 'd-none'%>">
      <p>Fotosurat qo'shilmadi</p>
    </div>
    <div class="col-md-6">
      <label for="shortInfo" class="form-label">Qisqa ta'rif</label>
      <input
        type="text"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'shortInfo') ? 'invalidInput' : '' %>"
        name="shortInfo"
        maxlength="30"
        placeholder="Kir mashina sotiladi"
        value="<% if (editing || hasError) { %><%= product.shortInfo %><% } %>"
      />
    </div>
    <div class="col-md-6">
      <label for="applianceName" class="form-label">Uy-jihozi nomi:</label>
      <input
        type="text"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'applianceName') ? 'invalidInput' : '' %>"
        name="applianceName"
        value="<% if (editing || hasError) { %><%= product.applianceName %><% } %>"
      />
    </div>
    <div class="col-md-6">
      <label for="applianceCondition" class="form-label">Uy-jihozi holati</label>
      <select
        class="form-select form-select-lg mb-3 fs-4 <%= validationErrors.find(e => e.param === 'applianceCondition') ? 'invalidInput' : '' %>"
        aria-label=".form-select-lg example"
        name="applianceCondition"
        value="<% if (editing || hasError) { %><%= product.applianceCondition %><% } %>"
      >
        <option <%= (editing || hasError) ? '' : 'selected' %> disabled>Holati</option>
        <option value="Ishlatilgan" <% (product.applianceCondition == 'Ishlatilgan') ? 'selected' : '' %>>Ishlatilgan</option>
        <option value="Yangi" <% (product.applianceCondition == 'Yangi') ? 'selected' : '' %>>Yangi</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="color" class="form-label">Manzilni tanlang</label>
      <select
        class="form-select form-select-lg mb-3 fs-4 <%= validationErrors.find(e => e.param === 'address') ? 'invalidInput' : '' %>"
        aria-label=".form-select-lg example"
        name="address"
      >
        <option <%= (editing || hasError) ? '' : 'selected' %> disabled>Manzil</option>
        <option value="Vodil" <% (product.address == 'Vodil') ? 'selected' : '' %>>Vodil</option>
        <option value="Yoshlarobod" <% (product.address == 'Yoshlarobod') ? 'selected' : '' %>>Yoshlarobod</option>
        <option value="Novkent'k" <% (product.address == 'Novkent') ? 'selected' : '' %>>Novkent</option>
        <option value="Yangiobod" <% (product.address == 'Yangiobod') ? 'selected' : '' %>>Yangiobod</option>
        <option value="Mindonobod" <% (product.address == 'Mindonobod') ? 'selected' : '' %>>Mindonobod</option>
        <option value="Avval" <% (product.address == 'Avval') ? 'selected' : '' %>>Avval</option>
        <option value="Kaptarxona" <% (product.address == 'Kaptarxona') ? 'selected' : '' %>>Kaptarxona</option>
        <option value="Log'on" <% (product.address == "Log'on") ? 'selected' : '' %>>Log'on</option>
        <option value="Mindon" <% (product.address == 'Mindon') ? 'selected' : '' %>>Mindon</option>
        <option value="Chimyon" <% (product.address == 'Chimyon') ? 'selected' : '' %>>Chimyon</option>
        <option value="Xonqiz" <% (product.address == 'Xonqiz') ? 'selected' : '' %>>Xonqiz</option>
        <option value="Oqtom" <% (product.address == 'Oqtom') ? 'selected' : '' %>>Oqtom</option>
        <option value="Satkak" <% (product.address == 'Satkak') ? 'selected' : '' %>>Satkak</option>
        <option value="Damko'l" <% (product.address == "Damko'l") ? 'selected' : '' %>>Damko'l</option>
        <option value="Shoximardon" <% (product.address == 'Shoximardon') ? 'selected' : '' %>>Shoximardon</option>
      </select>
    </div>
    <div class="form-floating fs-4 mb-5">
      <textarea
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'extraInfo') ? 'invalidInput' : '' %>"
        name="extraInfo"
        style="height: 70px"
      >
<% if (editing || hasError) { %><%= product.extraInfo %><% } %></textarea
      >
      <label for="address">Qo'shimcha ma'lumot</label>
    </div>
    <div class="col-md-6">
      <label for="price" class="form-label">Narxi(so'm):</label>
      <input
        type="number"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'price') ? 'invalidInput' : '' %>"
        name="price"
        value="<% if (editing || hasError) { %><%= product.price %><% } %>"
      />
    </div>
    <div class="col-md-6">
      <label for="phone" class="form-label">Telefon raqamingizni kiriting</label>
      <input
        type="number"
        class="form-control fs-3 <%= validationErrors.find(e => e.param === 'phoneNumber') ? 'invalidInput' : '' %>"
        name="phoneNumber"
        value="<% if (editing || hasError) { %><%= product.phoneNumber %><% } %>"
      />
      <p class="text-danger fs-6"><%= validationErrors.find(e => e.param === 'phoneNumber') ? ` Telefon raqamni to'liq kiriting` : '' %></p>
    </div>
    <div>
      <% if (editing) { %>
      <input type="hidden" value="<%= product._id %>" name="productId" />
      <% } %>
      <button type="submit" class="btn btn-primary fs-4">Qo'shish</button>
    </div>
  </form>
</div>
<%- include('../includes/end.ejs') %>
